
* {
  box-sizing: border-box;
} 

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr, 1fr);
    margin-left: auto;
    background-image: url("../Images/Rainy.gif");
    font-family: 'Lobster', cursive;
  }

/* Grid container to layout cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }

  /* Main cards styling */
.timeCard { 
    font-family: 'Nabla', cursive;
    border-radius: 10px;
    margin-top: 25%;
    margin-left: 25%;
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }


  .spotifyCard, .redditCard, .weatherCard, .todoCard .grid-container, .todoCard {
    overflow: scroll;
    justify-content: center;
    content: center;
    font-size: 50px;
    height: 500px;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  }

  .hidden {
    display:none;
  }

  #searchvalue {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    height: 50px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  #searchbtn {
    font-family: 'Lobster', cursive;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    align-items:center;
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    
  }


/* PNG, card logos */
.spotifyCard img, .redditCard img, .weatherCard img, .calcCard img, .todoCard img {
    width: 100px;
    margin-right: 10px;
  }

  /* Calculator card button, calc box styling */
.calcCard { 
    font-size: 50px;
    border-radius: 10px;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 90px);
}

.calcCard > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(239, 245, 245, 0.5);
}

.calcCard >button:hover {
  color: white;
    background-color: rgba(56, 58, 57, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2rem;
}
 
.btn {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .btn:hover {
    background-color: black; 
  }
  
 /* Wallpaper cards */
  .wallpaperCard {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  


  #wallpaper1 {
    background-image: url("/assets/CSS/backgrounds/Rainy.gif");
  }
  
  #wallpaper2 {
    background-image: url("/assets/CSS/backgrounds/blue.gif");
  }
  
  #wallpaper3 {
    background-image: url("/assets/CSS/backgrounds/gamecube.gif");
  }
  
  #wallpaper4 {
    background-image: url("/assets/CSS/backgrounds/Ocean.gif");
  }
  
  #wallpaper5 {
    background-image: url("/assets/CSS/backgrounds/sunset.gif");
  }

  #wallpaper6 {
    background-image: url("/assets/CSS/backgrounds/Winter.gif");
  }

  #wallpaper7 {
    background-image: url("/assets/CSS/backgrounds/tree.gif");
  }

/* To-do list card input, button, delete button */
  #add-item-btn {
    font-family: 'Lobster', cursive;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    align-items:center;
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  #add-item-btn:hover {
    background-color: rgba(23, 23, 23, 0.7);
  }

  #new-item-input {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    height: 50px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .delete-btn {
    position: right;
    font-family: 'Lobster', cursive;;
    margin: 20px;
    height: 25px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }

  .delete-btn:hover {
    background-color: rgba(251, 5, 5, 0.5);;
  }

  .todoItem {
    text-align: center;
    left: 20px;
    contain: content;
    justify-content: center;
    font-size: 20px;;
    width: 200px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
  }

  .todoItem:hover {
    transform: translateY(-10px);
  }
  /* Time scoller */
  .marquee {
    text-align: center;
    height: 100px;
    font-size: 50px;
    width: 100%;
    overflow: hidden;
  }
  
  .marquee p {
    display: block; 
    margin: 0; 
    padding: 20px 0;
    animation: marquee 7s linear infinite forwards;
  }
/* Subbreddit card input box and button */
  #subredditinput {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    height: 50px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  #subredditinputbutton {
    font-family: 'Lobster', cursive;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    align-items:center;
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

@keyframes marquee {
      0% { transform: translateX(100);}
      100% { transform: translateX(-100%); 
}
    }
  

/* Media screen adjustments */    
@media screen and (max-width: 600px) {
      .spotifyCard, .gptCard, .weatherCard, .calcCard, .todoCard {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

      }
    }



@media screen and (max-width: 600px) {}
    .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    
@media screen and (min-width: 601px) and (max-width: 900px) {
      .spotifyCard, .gptCard, .weatherCard, .calcCard, .todoCard {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }
    }

 @media screen and (min-width: 601px) and (max-width: 900px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

    
    @media screen and (min-width: 901px) {
      .spotifyCard, .gptCard, .weatherCard, .calcCard, .todoCard {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }
    
  }


  
  